<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Gear Head Garage</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <header>

        <div id="top-box">
            <div id="top-text">
                <h1>Gear Head Garage</h1>
            </div>
        </div>

        <div class="nav-wrapper">
            <div id="left-nav">
                <a href="/cars/aboutUs">About Us</a>
                <a href="/cars/showroom" class="add-pipe">Show Room</a>
                <a href="/cars/addCar" class="add-pipe">Add a Car</a>
            </div>
            <div id="right-nav">
                <a href="/auth/signup">Register</a>
                <a href="/auth/login" class="add-pipe">Login</a>
            </div>
        </div>
        <div class="red-line"></div>
    </header>

    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>
    <div class="content">
        <div id="loginBox">
        <form action="/auth/login" method="POST">
            <div class="loginCredentials">
            <input type="text" name="username" placeholder="username"/><br/><br/>
            <input type="text" name="password" placeholder="password"/><br/><br/>
            <input type="submit" value="Login">
            </div>
        </form>
        </div>
    </div>
    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>


    <footer class="footer">
        <div class="nav-wrapper-footer">
            <div id="center-nav">
                <a href="#">Twitter</a>
                <a href="#" class="add-pipe">Facebook</a>
                <a href="#" class="add-pipe">Instagram</a>
                <a href="/cars" class= "add-pipe"> GHG Homepage </a>
            </div>
        </div>
    </footer>
</body>

</html>