<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>GHG - About Us</title>
    <link rel="stylesheet" href="/css/aboutUs.css" />
</head>

<body>
    <header>

        <div id="top-box">
            <div id="top-text">
                <h1>About Us</h1>
            </div>
        </div>

        <div class="nav-wrapper">
            <div id="left-nav">
                <a href="/cars/aboutUs">About Us</a>
                <a href="/cars/showRoom" class="add-pipe">Show Room</a>
                <a href="/cars/addCar" class="add-pipe">Add a Car</a>
            </div>
            <div id="right-nav">
                <a href="/auth/signup">Register</a>
                <a href="/auth/login" class="add-pipe">Login</a>
            </div>
        </div>
        <div class="red-line"></div>
    </header>

    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>
    <div class="content">
        <div id="aboutUs">
            <div class= "aboutUsContent">
                <div class="gearsImage"> </div>
                <h3>Its more then a website it is a society!</h3>
                <p>
                    Hello and welcome to our website, Gear Head Garage. Gear Head Garage is a place for all car enthusiasts and grease monkeys to come and share there love and passion for cars. The goal of our website is to create a fun and friendly environment for car enthusiast to upload and share their beloved cars of there own to the rest of the world. Gear Head Garage makes it possible for car owners to upload images of their car and share their build with other car enthusiast. 
                    <br/>
                    <br/>
                    As a registered user you can become a driver of the Gear Head Garage society allowing you to upload and share images of your car to our Gear Head Garage showroom. As a Gear Head Garage driver you can also upload multiple cars to your driver profile and keep track of your car inventory in your personal garage. 
                    <br/>
                    <br/>
                    As a non registered user you still have access to viewing all the amazing and beautifully designed cars in the Gear Head Garage showroom and access to navigate to the Gear Head Garage Facebook, Twitter and Instagram page. And as always thank you for visiting the Gear Head Garage webpage, grease on. 
                </p>
            </div>    
        </div>
    </div>
    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>

    <footer class="footer">
        <div class="nav-wrapper-footer">
            <div id="center-nav">
                <a href="https://twitter.com/head_garage" target="_blank">Twitter</a>
                <a href="https://www.facebook.com/profile.php?id=100055866800268" class="add-pipe" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/gearheadgarage__/" class="add-pipe" target="_blank">Instagram</a>
                <a href="/cars" class= "add-pipe"> GHG Homepage </a>
            </div>
        </div>
    </footer>
</body>

</html>

