<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>GHG - Add Car</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <header>

        <div id="top-box">
            <div id="top-text">
                <h1>Add a Car to your Garage</h1>
            </div>
        </div>

        <div class="nav-wrapper">
            <div id="left-nav">
                <a href="#">About Us</a>
                <a href="#" class="add-pipe">Show Room</a>
                <a href="cars/addCar" class="add-pipe">Add a Car</a>
            </div>
            <div id="right-nav">
                <a href="/drivers">Register</a>
                <a href="/drivers" class="add-pipe">Login</a>
            </div>
        </div>
        <div class="red-line"></div>
    </header>


    <div class="content">
        <div class="addCar">
                <form action="cars" method = "POST">
                    Make: <input type="text" name="make" /> </br>
                    Model: <input type="text" name="model" /> </br>
                    Year: <input type="text" name="year" /> </br>
                    ImageURL: <input type="text" name="imageURL" /> </br>
                    Body Style: <input type="text" name="bodyStyle" />  </br>
                    <input type="submit" value="Create Vehicle" />
                </form>
        </div>
    </div>


    <footer class="footer">
        <div class="nav-wrapper-footer">
            <div id="center-nav">
                <a href="#">Twitter</a>
                <a href="#" class="add-pipe">Facebook</a>
                <a href="#" class="add-pipe">Instagram</a>
                <a href="/cars" class= "add-pipe"> GHG Homepage </a>
            </div>
        </div>
    </footer>
</body>

</html>

