<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Gear Head Garage</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <header>

        <div id="top-box">
            <div id="top-text">
                <h1>Gear Head Garage</h1>
            </div>
        </div>

        <div class="nav-wrapper">
            <div id="left-nav">
                <a href="/cars/aboutUs">About Us</a>
                <a href="/cars/showRoom" class="add-pipe">Show Room</a>
                <a href="/cars/carMeets" class="add-pipe">Car Meets</a>
                <a href="#" class="add-pipe"></a>
            </div>
            <div id="right-nav">
                <a href="/auth/signup">Register</a>
                <a href="/auth/login" class="add-pipe">Login</a>
            </div>
        </div>
        <div class="red-line"></div>
    </header>

    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>
    <div class="content">
        <div id=carMeets>
            <div class="carMeetsContent">
                <h3>Google Maps</h3>
                <!--The div element for the map -->
                <div id="map"></div>
                <script>
                    // Initialize and add the map
                    function initMap() {
                        // The location of Uluru
                        let location = {lat: -25.344, lng: 131.036};
                        // The map, centered at Uluru
                        let map = new google.maps.Map(
                        document.getElementById('map'), {
                            zoom: 4, 
                            center: location
                        });
                        // The marker, positioned at Uluru
                        let marker = new google.maps.Marker({
                            position: location, 
                            map: map
                        });
                    }
                </script>
                <!--Load the API from the specified URL
                * The async attribute allows the browser to render the page while the API loads
                * The key parameter will contain your own API key (which is not needed for this tutorial)
                * The callback parameter executes the initMap() function
                -->
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfhLuaehN74rBF0_1fmveWRC-2KNqRcec&callback=initMap">
                </script>
            
            </div>
        </div>

    </div>
    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>

    <footer class="footer">
        <div class="nav-wrapper-footer">
            <div id="center-nav">
                <a href="https://twitter.com/head_garage" target="_blank">Twitter</a>
                <a href="https://www.facebook.com/profile.php?id=100055866800268" class="add-pipe" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/gearheadgarage__/" class="add-pipe" target="_blank">Instagram</a>
                <a href="/cars" class= "add-pipe"> GHG Homepage </a>
            </div>
        </div>
    </footer>
</body>

</html>