<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Gear Head Garage</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <header>

        <div id="top-box">
            <div id="top-text">
                <h1>Gear Head Garage</h1>
            </div>
        </div>

        <div class="nav-wrapper">
            <div id="left-nav">
                <a href="/cars/aboutUs">About Us</a>
                <a href="/cars/showRoom" class="add-pipe">Show Room</a>
                <a href="/cars/carMeets" class="add-pipe">Car Meets</a>
                <a href="#" class="add-pipe"></a>
            </div>
            <div id="right-nav">
                <a href="/auth/signup">Register</a>
                <a href="/auth/login" class="add-pipe">Login</a>
            </div>
        </div>
        <div class="red-line"></div>
    </header>

    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>
    <div class="content">
        <div id=carMeets>
            <div class="carMeetsContent">
                <h3>Gear Head Garage Car Meets Presented Google Maps</h3>
                <!--The div element for the map -->
                <div id="map"></div>
                <script type="text/javascript">
                    function initialize() {
                      var locations = [
                        ['Davenport', 41.543056, -90.590836, 4],
                        ['Iowa City', 41.661129, -91.530167, 5],
                        ['Des Moines', 41.619549, -93.598022, 3],
                        ['Waterloo', 42.488831378, -92.340998636, 2],
                        ['Dubuque', 42.518, -90.706, 1]
                      ];
                  
                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 7,
                        center: new google.maps.LatLng(41.8780, -93.0977),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                      });
                  
                      var infowindow = new google.maps.InfoWindow();
                  
                      var marker, i;
                  
                      for (i = 0; i < locations.length; i++) {  
                        marker = new google.maps.Marker({
                          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                          map: map
                        });
                  
                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                          return function() {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                          }
                        })(marker, i));
                      }
                  }
                  
                  function loadScript() {
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
                        'callback=initialize';
                    document.body.appendChild(script);
                  }
                  
                  window.onload = loadScript;
                    </script>
                <!--Load the API from the specified URL
                * The async attribute allows the browser to render the page while the API loads
                * The key parameter will contain your own API key (which is not needed for this tutorial)
                * The callback parameter executes the initMap() function
                -->
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfhLuaehN74rBF0_1fmveWRC-2KNqRcec&callback=initMap">
                </script>
            
            </div>
        </div>

    </div>
    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>

    <footer class="footer">
        <div class="nav-wrapper-footer">
            <div id="center-nav">
                <a href="https://twitter.com/head_garage" target="_blank">Twitter</a>
                <a href="https://www.facebook.com/profile.php?id=100055866800268" class="add-pipe" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/gearheadgarage__/" class="add-pipe" target="_blank">Instagram</a>
                <a href="/cars" class= "add-pipe"> GHG Homepage </a>
            </div>
        </div>
    </footer>
</body>

</html>