<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gear Head Garage</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <header>
        <h1>Gear Head Garage</h1>
        <div class="nav-wrapper">
            <div id="left nav">
                <a href="#">About Us</a>
                <a href="#">Show Room</a>
                <a href="#">Add a Car</a>
            </div>
            <div id="right nav">
                <a href="#">Register</a>
                <a href="#">Login</a>
            </div>
        </div>
    </header>
    <h1> Welcome to Gear Head Garage</h1>

</body>

</html>