<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gear Head Garage</title>
</head>

<body>
    <header>
        <h1>Gear Head Garage</h1>
        <div class="nav-wrapper">
            

        </div>
    </header>
    <h1> Welcome to Gear Head Garage</h1>

</body>
</html>