html, body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6D7275;
    color: #C7D6D5;
}

footer {
    display: flex;
}

.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    flex-shrink: 0;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #C7D6D5;
    height: 8vh;
}

.nav-wrapper-footer {
    background-color: #C20114;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 8vh;
}

#top-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
    width: 75vw;
    font-size: 2.8vw;
    font-family: 'Open Sans', sans-serif;
}

#left-nav {
    margin-left: 1%;
}

#right-nav {
    margin-left: auto;
    margin-right: 1%;
}

#center-nav {
    margin: auto;
}

.red-line {
    height: 8px;
    width: 100%;
    background-color: #C20114;
}

a {
    /* border-right: 2px solid #6D7275;  */
    text-decoration: none;
    color: #6D7275;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.add-pipe:before {
    content: "| ";
}

.image-box {
    position: relative;
    width: 75vw;
    height: 70vh;
    overflow: hidden;
}

#logo {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

@media (max-width: 800px) {
    .nav-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #right-nav {
        margin-left: 0;
    }
}

#addCar, #showMadeCar, #showRoom, #aboutUs, #personalGarage, #carMeets {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 300px;
    background-color: #c7d6d57a;
    border-radius: 20px;
}

#signUpBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    background-color: #c7d6d57a;
    border-radius: 20px;
}

.signUpCredentials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 200px;
    background-color: #C7D6D5;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.profileCredentials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45vh;
    width: 60vw;
    background-color: #C7D6D5;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.loginCredentials, .addCarContent, .showMadeCarContent, .showRoomCars, .aboutUsContent, .personalGarageContent, .carMeetsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: #C7D6D5;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.license {
    background-color: black;
    border: 3px solid red;
    border-radius: 23px;
    border-style: outset;
    height: 35vh;
    width: 40vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 0;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.top-dl-box {
    /* border: 3px solid green; */
    text-align: justify;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-size: 25px;
    margin: -5px;
    width: 100%;
    color: white;
    text-decoration: underline;
}

.dl-info {
    display: flex;
    align-content: center;
    margin: auto;
    margin-top: 2px;
    color: white;
}

.dl-form {
    display: flex;
    /* border: 3px solid blue; */
    width: 20vw;
    text-align: left;
    font-weight: 600;
    padding: 3px;
    margin-left: 10px;
}

.image-holder {
    /* border: 3px solid yellow; */
    flex: 1;
    flex-flow: column wrap;
    overflow: hidden;
    /* border: 2px solid yellow; */
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 100%;
    width: 200px;
}

.driver-image {
    /* border: 3px solid yellow; */
    height: 20vh;
    width: auto;
    margin: -10px 0px -40px -60px
}

.line-space {
    height: 5px;
}

@media (max-width: 1400px) {
    .profileCredentials {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 60vh;
        width: 60vw;
        background-color: #C7D6D5;
        border-radius: 15px;
        text-align: center;
        padding: 10px;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
    }

    .license {
        flex-direction: column;
        align-content: center;
        height: 100%;
        width: 100%;
    }
    .top-dl-box {
        /* border: 3px solid green; */
        text-align: justify;
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        font-size: 15px;
        margin: -5px;
        width: 100%;
        color: white;
        text-decoration: underline;
    }

    .dl-info {
        flex-direction: column;
        justify-items: center;
    }

    .dl-form {
        display: flex;
        justify-content: center;
        width: 20vw;
        text-align: left;
        font-weight: 600;
        padding: 3px;
        margin-left: 10px;
    }

    .image-holder {
        /* border: 2px solid black; */
        border-radius: 30px;
        height: 100%;
        width: 100%;
    }
    .driver-image {
        /* border: 3px solid yellow; */
        height: 15vh;
        width: auto;
        margin: -10px 0px -20px -25px
    }

}


#carMeets {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 90vw;
    background-color: #c7d6d57a;
    border-radius: 20px;
}

.carMeetsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 85vw;
    background-color: #C7D6D5;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

#map{
    height:60vh;
    width:80vw;
}


#loginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: #c7d6d57a;
    border-radius: 20px;
}


h4{
    margin: 2px;
}